<main>
  <h1 class="visually-hidden">Features examples</h1>

  <button (click)="sayHey()">Saludar</button>
  <button (click)="notify()">Notificar</button>

  <ng-container *ngIf="data$ | async as data">
    <app-container>
      <h2 title class="pb-2 border-bottom">💛 Columns with icons 💔</h2>

      <div body class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <ng-container *ngIf="data; else notFound">
          <app-container-item *ngFor="let item of data" [dataItem]="item"></app-container-item>
        </ng-container>

        <ng-template #notFound>
          <p>No tenems datos disponibleas!!!</p>
        </ng-template>
      </div>
    </app-container>
  </ng-container>

  <ng-container *ngIf="data$ | async as data">
    <app-container title="Custom cards">
      <div body class="container px-4 py-5">
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

          <app-container-img title="Short title1, long jacket" country="Colombia" timeAgo="" #containerImgComponentRef>
          </app-container-img>

          <app-container-img title="Short title2, long jacket" country="España" timeAgo="2ds">
          </app-container-img>

          <app-container-img title="Short title3, long jacket" country="Peru" timeAgo="3ds" (clicked$)="clicked()">
          </app-container-img>
        </div>
      </div>
    </app-container>
  </ng-container>

  <pre>
    {{data3$ | async | json}}
  </pre>

</main>
